table {
  border-spacing: 8px;
  margin: auto;
}

.TimeLine {
  float: left;
  background-color: gray;
  height: 100vh;
  overflow: scroll;
  width: 25vw;
  /* position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%; */
}
