td {
  /* border: 2px #808080 solid; */
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 6px;
  background-color: white;
}

p {
  word-break: break-all;
}

.tree_text {
  font-size: 30px;
  text-align: center;
  margin: 5px;
}

.posted_at {
  font-size: 10px;
  text-align: right;
  margin: 3px;
}

.user_id {
  font-size: 10px;
  text-align: left;
  margin: 3px;
}
